<h3>Hello</h3>
<p class="lead">The booking was canceled</p>
<p>The teacher canceled the booking for the date {{date_booking | date}}. You can try rebooking the teacher for another date!</p>

<p class="callout">
  You can see details about your booking here. <a href="{{root_url}}/booking/student/{{ student_link }}">Click it! &raquo;</a>
</p>
