<h3>Hello</h3>
<p class="lead">The booking was canceled</p>
<p>The student canceled the booking for the date {{date_booking | date}}</p>

<p class="callout">
  You can see details about the booking here. <a href="{{root_url}}/booking/student/{{ teacher_link }}">Click it! &raquo;</a>
</p>
