<h3>Hello</h3>
<p class="lead">The booking was rejected</p>
<p>The teacher rejected the booking for the date {{date_booking | date}}</p>

<p class="callout">
  You can see details about your booking here. <a href="{{root_url}}/booking/student/{{ student_link }}">Click it! &raquo;</a>
</p>
