<form class="form" role="form" [formGroup]="formEdit" (ngSubmit)="onSubmit(formEdit.value)" >
  <div class="container-fluid">


    <div class="form-group">
      <label class="name">Name</label>
      <input type="text" class="form-control" name="name" ngDefaultControl="name" formControlName="name">

    </div>

    <div class="form-group">
      <label class="email">Email address</label>
      <input type="text" class="form-control" name="email" ngDefaultControl="email" formControlName="email">
    </div>


    <button class="btn btn-success full-width"  type="submit" [disabled]="!formEdit.valid"><i class="fa fa-check" aria-hidden="true"></i>Save changes</button>

  </div>

</form>
